@font-face {
    font-family: roboto;
    src: url(./Roboto/Roboto-Regular.ttf)
}

body {
    display: grid;
    grid: 1fr 4fr / 1fr 4fr;
    background-color: rgb(215, 230, 230);
    margin: 0;
    padding: 0;
    font-family: roboto, system-ui;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: rgb(0, 162, 255);
    color: white;
    display: grid;
    grid: 1fr 2fr 4fr / 1fr;
    font-size: 20px;
}

.logo {
    font-size: 50px;
    font-weight: bold;
    position: fixed;
    top: 0;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: fixed;
    top: 15%;
}

.help {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: sticky;
    top: 60%;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid: 1fr 1fr / 6fr 1fr 1fr 1fr;
    background-color: white;
}

.searchbar {
    grid-area: 1 / 1 / 2 / 2;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: end;
}

.searchbar img{
    position: relative;
    max-width: 1em;
    right: 1em;
}

.search {
    background-color: rgb(215, 230, 230);
    border-radius: 25px;
    height: 30px;
    width: 85%;
    border: none;
}

.notifications {
    grid-area: 1 / 2 / 2 / 3;
    align-self: center;
    justify-self: end;
}

.notifications img {
    width: 2em;
    position: relative;
}

.profile-pic {
    width: 2em;
    align-self: center;
    justify-self: center;
    grid-area: 1 / 3 / 2 / 4;
}

.profile {
    grid-area: 1 / 4 / 2 / 5;
    align-self: center;
    font-weight: bold;
    position: relative;
    left: -1em;
}

.welcome {
    grid-area: 2 / 1 / 3 / 2;
    font-weight: bold;
    display: grid;
    grid: 1fr / 1fr 5fr;
    align-self: center;
}

.welcome img {
    grid-area: 1 / 1 / 2 / 2;
    height: 4em;
    justify-self: end;
    position: relative;
    top: -0.7em;
}

.main-content {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid: 1fr 1fr / 3fr 1fr;
    padding: 50px 25px;
    row-gap: 50px;
    column-gap: 25px;
}

.actions {
    grid-area: 2 / 2 / 3 / 5;
    display: flex;
    justify-content: space-around;
    gap: 1em;
}

.actions > * {
    background-color: rgb(0, 162, 255);
    width: 50px;
    border-radius: 30px;
    text-align: center;
    align-self: center;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    position: relative;
}

.projects::before {
    content: "Your Projects";
    position: absolute;
    top: -1.5em;
    font-size: 1.3em;
    font-weight: bold;
}

.projects > * {
    height: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: inset 0.5rem 0 rgb(243, 184, 24);
    display: grid;
    grid: 1fr 3fr 1fr / 4fr 1fr 1fr 1fr;
    gap: 0em;
}

.projects div h3 {
    padding: 2rem 2rem 0 2rem;
    margin: 0;
    grid-area: 1 / 1 / 2 / 5;
    align-self: end;
}

.projects div p {
    color: rgba(61, 66, 66, 0.753);
    padding: 0 2rem 0 2rem;
    margin: 0;
    grid-area: 2 / 1 / 3 / 5;
    font-size: 0.9em;
}

.projects div #star {
    padding: 0;
    margin: 0;
    grid-area: 3 / 2 / 4 / 3;
    width: 40%;
}

.projects div #view {
    padding: 0;
    margin: 0;
    grid-area: 3 / 3 / 4 / 4;
    width: 40%;
}

.projects div #share {
    padding: 0;
    margin: 0;
    grid-area: 3 / 4 / 4 / 5;
    width: 40%;
}

.announcements {
    grid-area: 1 / 2 / 2 / 3;
    background-color: white;
    display: grid;
    position: relative;
    padding: 1em;
}

.announcements::before {
    content: "Announcements";
    position: absolute;
    top: -1.5em;
    font-size: 1.3em;
    font-weight: bold;
}

.announcements div h3 {
    padding: 0;
    margin: 0;
}

.announcements div p {
    padding: 0;
    margin: 0;
    font-size: 0.8em;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
           -line-clamp: 3;
    -webkit-box-orient: vertical;
}

.trending {
    grid-area: 2 / 2 / 3 / 3;
    background-color: white;
    position: relative;
}

.trending::before {
    content: "Trending";
    position: absolute;
    top: -1.5em;
    font-size: 1.3em;
    font-weight: bold;
}

.navigation a, .help a {
    color: white;
    text-decoration: none;
}